* {
  margin: 0;
  padding: 0;
} 

.body {
  background-color: #F0EFF5;
}

/*Menu lateral*/

/*Bot*/
#avatar-bot{
  width: 100px;
  margin-left: 205px;
  margin-top: 615px;
  cursor: pointer;
  position: absolute;
}
#avatar-bot:hover{
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
  transition: opacity 1.0s ease-in-out;
}

/*Bot*/
body {

}

.chat-container {
  width: 300px;
  height: 430px;
  margin: 50px auto;
  margin-left: 1510px;
  margin-top: 550px;
  background-color: white;
  border: 1.7px solid black;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.boas-vindas {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #17C3CE;
  text-align: center;
  margin-left: -180px;
  margin-bottom: 150px;
  position: absolute;
  z-index: 2;
}

#diminuir-chat {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #17C3CE;
  margin-left: 250px;
  margin-bottom: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

#luna-bot {
  height: 200px;
  margin-left: -210px;
  margin-top: 120px;
  position: absolute;
  z-index: 1;
}

#startChat {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: white;
  background-color: #17C3CE;
  border-radius: 15px;
  border: 0px;
  width: 250px;
  height: 47px;
  margin-left: -250px;
  margin-top: 350px;
  cursor: pointer;
  position: absolute;
  transition: 1s; 
}
#startChat:hover{
  background-color: #129ca4;
}

.chat-container{
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
  transition: opacity 1.0s ease-in-out;
}
.menu-lateral {
  max-width: 241px;
  height: 1200px;
  background-color: #0073C2;  
  position: absolute;
}

.logo-branco {
  max-width: 105px;
  padding-left: 60px;
  padding-top: 16px;
}

a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: white;
}

.home-menu, .anuidade, .atendimento, .servicos-art, .solicitacoes, .agendamento, .cursos-eventos, .clube-vantagens, .acoes, .noticias, .configuracoes, .acessibilidade, .logout {
  margin-left: 24px;
  margin-top: 25px;
  transition: background-color 1s;
}

.hr {
  margin-left: 24px;
  margin-top: 25px;
  max-width: 70%;
}

/*Topo*/

.topo {
  background-color: white;
  max-width: 100%;
  height: 78px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #656565;
  margin-left: 280px;
  margin-top: 25px;
  z-index: 2;
  position: absolute;
}

#busca{
  background-color:white;
  border:solid 1px;
  border-radius:20px;
  border-color: #0073C2;
  width:638px;
  height: 37px;
  position: absolute;
  margin-left: 480px;
  margin-top: 20px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size:16px;
  border:none;
  width:500px;
  height: 18px;
  position: absolute;
  margin-left: 18px;
  margin-top: 10px;
}

#btnBusca {
  margin-left: 584px;
  margin-top: 10px;
}

#linha-vertical {
  height: 45px;
  border-right: 2px solid #C9CBD1;
  margin-left: 75%;
  margin-top: 19px;
  position: absolute;
}

#eleicoes {
  margin-left: 71%;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  transition: 1s; 
}
#eleicoes:hover{
  transform: scale(1.1);
}

#falar {
  margin-left: 76%;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  transition: 1s; 
}
#falar:hover{
  transform: scale(1.1);
}

#notificacao {
  margin-left: 79%;
  margin-top: 10px;
  position: absolute;
  cursor: pointer;
  transition: 1s; 
}
#notificacao:hover{
  transform: scale(1.1);
}

#avatar {
  margin-left: 82.3%;
  margin-top: 16px;
  position: absolute;  cursor: pointer;
  transition: 1s; 
}
#avatar:hover{
  transform: scale(1.1);
}

#nome-usuario {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  margin-left: 85%;
  margin-top: 16px;
}

#crea-usuario {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  position: absolute;
  margin-left: 85%;
  margin-top: 35px;
}

/*Serviços CAT*/

.solicitacao-servicos{
  color: #4A89D3;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 28px;
  margin-left: 15%;
  margin-top: 25px;
  padding-left: 20px;
  width: 76%;
  height: 45px;
  background-color: #F9F9F9;
  border-radius: 15px;
  position: absolute;
}

#home-icon {
  margin-left: 75.4%;
  margin-top: 34px;
  position: absolute;
  width: 25px;
  cursor: pointer;
}

.solicitacoes-sub {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-left: 77%;
  margin-top: 34px;
  position: absolute;
}

#arrow-icon {
  margin-left: 83%;
  margin-top: 38px;
  position: absolute;
  width: 11px;
}

.acervo-sub {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-left: 84%;
  margin-top: 34px;
  position: absolute;
}

/*Etapas*/
.btnSolicitados {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 160px;
  height: 50px;
  border-radius: 15px;
  margin-left: 15.5%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}
.btnFalecimento {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 140px;
  height: 50px;
  border-radius: 15px;
  margin-left: 24.1%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnIntRegistros {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 130px;
  height: 50px;
  border-radius: 15px;
  margin-left: 31.7%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnReativar {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin-left: 38.8%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnRegProfissional {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin-left: 46.9%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnNormas {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 130px;
  height: 50px;
  border-radius: 15px;
  margin-left: 55%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnAcervo {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
  background-color: #094C8C;
  width: 130px;
  height: 50px;
  border-radius: 15px;
  margin-left: 62.1%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnBaixaArt {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 110px;
  height: 50px;
  border-radius: 15px;
  margin-left: 69.2%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnCancelamentoArt {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin-left: 75.3%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnDescAnuidade {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 130px;
  height: 50px;
  border-radius: 15px;
  margin-left: 83.4%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

.btnReembolso {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #094C8C;
  background-color: white;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  margin-left: 90.5%;
  margin-top: 100px;
  border: 0px;
  position: absolute;
}

/*Acervo Ténico}*/
.acervo-tecnico{
  max-width: 70%;
  height: 800px;
  background-color: white;
  border-radius: 40px;
  border: 2px solid;
  border-color: #0065FF;
  margin-left: 20%;
  margin-top: 8%;
}

#dados-profissional{
  font-family: 'ABeeZee', sans-serif;
  margin-left: 10%;
  margin-top: 20%;
  color: #0065FF;
}
#entrega-documentos{
  font-family: 'ABeeZee', sans-serif;
  margin-left: 5%;
  margin-top: 20%;
  color:#9E9E9E
}
#confirmacao{
  font-family: 'ABeeZee', sans-serif;
  margin-left: 5%;
  margin-top: 20%;
  color:#9E9E9E
}

.linha-azul{
  background-color: #0065FF;
  margin-top: 10px;
  margin-left: 10px;
  }

  #dados-profissional-titulo{
    font-family: 'ABeeZee', sans-serif;
    margin-left: 7%;
    margin-top: 5%;
    background-color: #ECECEC;
    color: #272A2D;
  }

  .nome{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 5%;
    position: absolute;
  }
  .rnp{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 20%;
    position: absolute;
  }
  .creasp{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 33%;
    position: absolute;
  }
  .telefone{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 50%;
    position: absolute;
  }

  #titulo-profissional{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #0065FF;
    margin-left: 5%;
    margin-top: 80px;
    position: absolute;
  }

  #titulos{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 5%;
    margin-top: 110px;
    position: absolute;
  }
  #email-not{
    font-family: 'ABeeZee', sans-serif;
    margin-left: 5%;
    margin-top: 12%;
    background-color: #ECECEC;
    color: #272A2D;
    position: absolute;
    width: 50%
  }
  #titulo-profissional-2{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #0065FF;
    margin-left: 5%;
    margin-top: 260px;
    position: absolute;
  }
  .email{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 5%;
    margin-top: 300px;
    position: absolute;
  }
  .alterar-email{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #0065FF;
    margin-left: 5%;
    margin-top: 350px;
    position: absolute;
  }
  #importante{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: red;
    margin-left: 5%;
    margin-top: 400px;
    position: absolute;
  }
  #aviso{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #001C42;
    margin-left: 5%;
    margin-top: 450px;
    position: absolute;
  }
  /*Página*/
#btnSalvar{
  width: 200px;
  height: 50px;
  background-color: #0065FF;
  color: white;
  border: 0px;
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  position: absolute;
  margin-left: 50%;
  margin-top: 570px;
  z-index: 2;
}
/*ARTs*/
.footer{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #001C42;
  font-size: 15px;
  text-align: center;
  margin-top: 65px;
  margin-bottom: 30px;
}

#logo{
  margin-top: -50px;
  margin-left: 85%;
  position: absolute;
}

